body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(232, 236, 237);
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.subject {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ed4e14;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(224, 156, 21, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}
